<%- include('./partials/head'); %>
<%- include ('./partials/styles'); %>

<!-- If Express sends an error or message, display it here  -->
<span class="top-message">
  <% if(error && error.length > 0) { %>
    <div>
      <%= error %>
    </div>
  <% } %>
  <% if(message && message.length > 0) { %>
    <div>
      <%= message %>
    </div>
  <% } %>
</span>

<body id="login-page">
  <div class="ui segment" id="login-segment">

    <h2 class="ui right header">
      Street Roots Staff Login
      <div class="sub header">
        Login to make changes to the Rose City Resource Guide
      </div>
    </h2>

    <!-- Google OAuth login  -->
    <form class="ui form" action="/auth/google" method="POST">
      <button class="ui button fluid pink" type="submit">
        Login with Google
      </button>
    </form>

    <div class="ui horizontal divider">Or</div>

    <!-- Email/password form  -->
    <form class="ui form" action="/admin/login" method="POST">
      <div class="field" style="margin-top: .5em">
        <div class="ui left icon input">
          <input type="email" name="email" id="email" aria-label="email" placeholder="Email">
          <i class="user icon"></i>    
        </div>
      </div>
      <div class="field" style="margin-top: .5em">
        <div class="ui left icon input">
          <input type="password" name="password" id="password" aria-label="password" placeholder="Password">
          <i class="lock icon"></i>    
        </div>
      </div> 
      <br />
     <button class="ui button basic fluid pink" type="submit">
        Log in with email and password
      </button>
    </form>

  </div>

  <!-- text below form  -->
  <div class='bottom-message'>
    This is an administrative page.<br />
    <a href="<%= process.env.FRONTEND_URL %>">
      Click here for the main site
    </a>
  </div>
</body>